.page{
    display:flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #282828;
    align-items: center;
}

.rps {
    background: goldenrod;
    border: 1px solid black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    color: #282828;
    
}

.status {
    font-size: 24px;
    font-weight: bold;
    padding: 20;
    margin-bottom: 30px;
    text-align: center;
    width: 490px;
    height: 50px;
    color: white;
}


.computer {
    font-size: 24px;
    font-weight: bold;
    padding: 20;
    color: white;
    margin-top: 225px;
    text-align: center;
    height: 50px;
}

.player {
    font-size: 24px;
    font-weight: bold;
    padding: 20;
    color: white;
    margin-top: 10px;
    text-align: center;
    height: 50px;
}